@page
@model IndexModel
@{
    ViewData["Title"] = "Results";
}

<style>
    .live {
        color: white;
        background-color: red;
        border-radius: 5px;
        padding: 0 5px;
        font-size: 0.5em;
        position: relative;
        top: -.15em;
    }
</style>

<h2>@ViewData["Title"] <span class="live">LIVE!</span></h2>

<script>
    function result(nominee, count) {
        var el = document.getElementById(nominee + 'Count');
        el.innerText = count;
        el.style.color = 'green';
    }
    
    setInterval(function() {
        window.fetch(
            '/api/votes'
        ).then(
            response => {
                response.json().then(results => {
                    result('DotNet', results.dotNet);
                    result('DotNetCore', results.dotNetCore);
                    result('JavaScript', results.javaScript);    
                });
            },
            error => {
                console.log(`ERROR!`);
            });
    }, 300);
</script>

<div class="row nominees">
    <div class="col-lg-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
        <h3 class="col-xs-12">
            <strong id="DotNetCount">0</strong>
            votes for .NET Framework
        </h3>
    </div>
    <div class="col-lg-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
        <h3 class="col-xs-12">
            <strong id="DotNetCoreCount">0</strong>
            votes for .NET Core
        </h3>
    </div>
    <div class="col-lg-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
        <h3 class="col-xs-12">
            <strong id="JavaScriptCount">0</strong>
            votes for JavaScript
        </h3>
    </div>
</div>